include ../title/title
include ../button/button

mixin item(data) 
  +e.LI.item
    +b.service-item-desc
      +e.icon
        +e.icn-polygon
          +e.SVG.svg-icon(viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
            path(d='M0 0h24v24H0z', fill='none')
            path(d='M21 8V7l-3 2-3-2v1l3 2 3-2zm1-5H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm8-6h-8V6h8v6z')
            path(d='M0 0h24v24H0z', fill='none')
      +e.info
        +e.title(class=data.modefire)=data.title
        +e.desc(class=data.modefire)=data.desc
      
mixin circleService()
  +b.SECTION.container#service-section
    +title({"text":'Service work'})
    +b.UL.circle-container
      +item({
        "icon": "icon",
        "title": "discovery 1",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet.",
      })
      
      +item({
        "icon": "icon",
        "title": "discovery 2",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet."
      })
    
      +item({
        "icon": "icon",
        "title": "discovery 3",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet."
      })
    
      +item({
        "icon": "icon",
        "title": "discovery 4",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet."
      })
    
      +item({
        "icon": "icon",
        "title": "discovery 5",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet."
      })
    
      +item({
        "icon": "icon",
        "title": "discovery 6",
        "desc": "lorem Ipsum proin gravida nibh vel velit auctor aliquet."
      })
      +e.LI.item.--general-picture
        +e.DIV.img-bg-service
      +e.LI.generate-circle-1
      +e.LI.generate-circle-2
      +e.LI.generate-circle-3
      +e.LI.generate-circle-4
      +e.LI.generate-circle-5
    +b.DIV.btn-wrapper     
      +button({
        "text" : "hire us",
        "modefier":"marsula-theme"
      })
    
      
