include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include navigation/navigation
include promo/promo

doctype html
html(lang='en')
	head
		+head({
			"title": "test title"
		})
	body
		block header
			+header()
				block headerContent
					+navigation({
						"services":"Services",
						"works":"Works",
						"about":"About",
						"contacts":"Contacts",
					})
					+promo()
		
		block scriptVendor
			script( src="libs/jquery/dist/jquery.min.js")
		block script
			script( src="js/main.js")
			
