include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include navigation/navigation
include promo/promo
include circleService/circleService
include portfolio/portfolio
include aboutStudio/aboutStudio
include contactUs/contactUs

doctype html
html(lang='en')
	head
		+head({
			"title": "test title"
		})
	body
		block header
			+header()
				block headerContent
					+navigation({
						"services":"Services",
						"works":"Works",
						"about":"About",
						"contacts":"Contacts",
					})
					+promo({
						"title" : "Lorem ipsum curabitur quam urna fusce",
						"descr" : "Lorem ipsum curabitur proin - orci massa eget commodo "
					})
				block serviceSection
					+circleService()
					+portfolio()
					+aboutStudio()
				block contactUs
					+contactUs('Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
		
		block scriptVendor
			script( src="libs/jquery/dist/jquery.min.js")
		block script
			script( src="js/main.js")
			
