.top-header {
  // background-color: silver;
  display: block;
  text-align: center;
  line-height: 1.2;
  padding: 1rem 0;
  &__title {
    text-transform: uppercase;
    color: $black;
    @extend %responsive-font-title;
  }
  .reverse-color-to-lighter {
    color: $lmarsala;
    text-shadow: 0 0 1px rgba($black, .8);
  }
}
