mixin header()
  +b.HEADER.header(class='w-height')
    +e.DIV.animate-bg-stars-1
    +e.DIV.animate-bg-sky
    +e.H1.title
    if block
      block
  +b.DIV.scroll-pointer-box
    +e.SPAN.arrow
      svg.svg-arrow(viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
        path(d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z')
        path(d='M0-.75h24v24H0z', fill='none')

    
