.about-studio-container {
  padding: 3rem 0;
  background-color: $white;
  position: relative;
}
.about-studio-process {
  padding: 0 0 4rem;
}
.about-studio-descr {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $white;
  color: $black;
  z-index: 11;
  &__text {
    text-align: center;
    color: $black;
    @include breakpoint('mobile') {
      width: 80%;
    }
    @include breakpoint('small') {

    }
    @include breakpoint('large') {
      width: 50%;
      max-width: 650px;
    }
  }
}
.circle-container-about {
  display: flex;
  flex-flow: row wrap;
  z-index: 10;
  .service-item-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    &__icon {
      width: 100%;
    }
    &__info {
      width: 100%;
    }
  }
  @include breakpoint('large') {
    @include distribute-on-circle-about(5, 600px, 50px, false);
    margin: 0 auto 5rem;
    border: solid 2px $lmarsala;
    transform: translateY(-80px);
  }
  &__item {
    width: calc(100% - 4px);
    padding: 20px 0;
    @include breakpoint('mobile') {
      width: calc(50% - 4px);
      &--general-picture {

      }
    }

    @include breakpoint('large') {
      width: 150px;
      // background-color: $white;
    }
    &--general-picture {
      border: 2px solid $lmarsala;
      border-radius: 50%;
      height: 250px;
      width: 100%;
      order: -1;
      @include breakpoint('large') {
        width: 250px !important;
        height: 250px;
        margin-left: -125px;
        margin-top: -125px;
      }
    }
  }
  &__generate-circle-1 {
    @include breakpoint('large') {
      @include big-circle-f(550px, $lmarsala);
    }
  }
  &__generate-circle-2 {
    @include breakpoint('large' ) {
      @include midl-circle-f(500px, $lmarsala);
    }
  }
  &__generate-circle-3 {
    @include breakpoint('large') {
      @include xs-circle-half(450px, $lmarsala);
    }
  }
  &__generate-circle-4 {
    @include breakpoint('large') {
      @include xxs-circle-half(390px, $lmarsala);
  }
}
}
