include ../button/button

mixin promo(data)
  +b.DIV.intro-wrapper
    +b.DIV.intro-box
      +e.SPAN.title=data.title
      +e.SPAN.short-descr=data.descr
      +e.DIV.btn-wrapper
        +button({"text":"about us"})
  if block
    block
