.intro-wrapper {
  @extend %align-middle;
  padding: 20px 0;
  position: relative;
    height: calc(100% - 4rem);
    @include breakpoint('small') {
    height: calc(100% - 100px);
    // margin-top: 10%;
  }
}

.intro-box {
  width: 70%;
  margin-top: -4rem;
  transition: width all .3s;


  @include breakpoint('small') {
    margin-top: -100px;
    width: 55%;
  }

  @include breakpoint('large') {
    width: 45%;
  }
  &__title{
    @extend %responsive-font-title;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
    text-align: center;
    color: $white;

    // opacity: 0;
    // transform: translateY(-100);

  }
  &__short-descr{
    @extend %responsive-font-text;
    display: block;
    text-align: center;
    padding: .5rem;
    color: $white;

    // opacity: 0;
    // transform: translateY(-100);
  }
  &__btn-wrapper {
    display: flex;
    padding: 2rem 0 .4rem 0;
    justify-content: center;
    .button {
      // opacity: 0;
      // transform: translateY(-100);
    }
  }
}
