$masala: #965251;
$white: #F4E7DF;
$black: #36424E;
$green: #4B4D38;
$silver: #988574;
$gold: #E1BE7A;

$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-sarif;
  // 'medium' : ( min-width:  1200px ),
//breakpoints
$breakpoints: (
  'mobile' : ( min-width: 767px),
  'small'  : ( min-width:  979px ),
  'large'  : ( min-width: 1200px )
);


//extends
%space-btw-c-y {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%space-ard-c-y {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

%responsive-font-title{
  font-size: responsive 26px 56px;
  font-range: 480px 992px;
}

%responsive-font-text{
  font-size: responsive 14px 21px;
  font-range: 480px 1280px;
}

%responsive-text-head {
  font-size: responsive 21px 28px;
  font-range: 480px 1280px;
}
