.navigation {
  padding: 0 3rem;

}

.header-line{
  @extend %space-btw-c-y;
  position: relative;
  height: 4rem;
  @include breakpoint('small') {
    display: block;
    height: 100px;

  }
  &__list {
    display: none;
    position: relative;
    @include breakpoint('small') {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    @include breakpoint('large') {
      justify-content: space-between;
    }
  }

  &__item {
    margin: 0;
    @include breakpoint('small') {
      margin: 0 1rem;
    }
    a {
      display: block;

      text-align: center;
      padding: 1rem .5rem;
      border-bottom: 1px solid $black;
      transition: background-color .3s ease-in;

      text-transform: uppercase;
      font-weight: 600;
      font-size: responsive 12px 14px;
      line-height: 1.2;
      font-range: 767px 1280px;
      letter-spacing: 1px;
      font-family: $font;

      color: $white;
      transition: color .2s ease-out;

      &:hover {
        cursor: pointer;
        color: $marsala;
      }
      @include breakpoint('small') {
        border-bottom: none;
      }
      &:active {
        background-color: silver;
      }
    }
  }
  &__item-logo {
    flex-grow: 1;
  }//__item logo
  &__logo-img {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    @include breakpoint('large') {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: block;
      }
    }
    @include breakpoint('large') {
      width: 250px;
    }
  }
}
.toggle-nav-on-mobile {

  flex-flow: column wrap;
  display: flex;
  width: 100%;

  position: absolute;
  top: 4rem;
  z-index: 1000;
}

//show for modile
.show-on-mobile {
  display: block;
  @include breakpoint('small') {
    display: none;
  }
}
.hide-on-mobile{
  display: none;
  @include breakpoint('large') {
    display: block;
  }
}

.logo-container {

  &__mobile-logo {

  }
}
// burger menu style

.burger-menu {
  position: relative;
  width: 50px;
  height: 50px;

  @extend %align-middle;
  @include breakpoint('small') {
    display: none;
  }
  &__dash, &:after, &:before {
    background-color: $white;
    width: 40px;
    height: 5px;
    display: block;
    position: relative;
  }
  &:after {
    content: '';
    position: absolute;
    margin-top: -12px;
  }
  &:before {
    content: '';
    position: absolute;
    margin-top: 12px;
  }
}
