mixin navigation(data)
  +b.NAV.navigation
    +b.DIV.header-line
      +b.DIV.logo-container(class='show-on-mobile')
        +e.DIV.mobile-logo mobile logo
      +b.DIB.burger-container
        +b.DIV.burger-menu
          +e.SPAN.dash
      +e.UL.list
        +e.LI.item
          a(href='#')=data.services
        +e.LI.item
          a(href='#')=data.works
        +e.LI.item-logo(class='hide-on-mobile')
          +e.DIV.logo-img 
            span LOGO img
        +e.LI.item
          a(href='#')=data.about
        +e.LI.item
          a(href='#')=data.contacts
      
    
