mixin footer()
	+b.FOOTER.footer
		+b.DIV.logo-descr
			+e.DIV.header 
				span Lorem ipsum
			+e.DIV.descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nulla rerum, alias esse, corporis omnis perspiciatis doloribus culpa commodi, et minima excepturi. Maiores repellat minima deserunt reprehenderit harum ea minus quaerat repellendus tempore facere, suscipit perspiciatis consequuntur in numquam dolor, praesentium eius, deleniti enim sequi, obcaecati sapiente doloribus. Incidunt, nostrum?
			+e.DIV.logo-place
				div logo img
		+b.DIV.our-client
			+e.H3.title
				span our clients
			+e.UL.list-clients
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')
				+e.LI.client: a(href='#')
					+e.DIV.client-logo
						svg(viewbox='0 0 24 24',xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0h24v24H0z', fill='none')
							path(d='M4 10v7h3v-7H4zm6 0v7h3v-7h-3zM2 22h19v-3H2v3zm14-12v7h3v-7h-3zm-4.5-9L2 6v2h19V6l-9.5-5z')

	+b.DIV.footer-bottom-line
		+e.SPAN.copyright Copyright 2017
		+b.UL.social-icons
			+e.LI.social-icn: a(href='#'): i.fa.fa-facebook(aria-hidden='true')
			+e.LI.social-icn: a(href='#'): i.fa.fa-vk(aria-hidden='true')
			+e.LI.social-icn: a(href='#'): i.fa.fa-instagram(aria-hidden='true')
			+e.LI.social-icn: a(href='#'): i.fa.fa-google-plus(aria-hidden='true')
			+e.LI.social-icn: a(href='#'): i.fa.fa-dribbble(aria-hidden='true')


