button.button {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 3rem;
  line-height: 1;
  white-space: nowrap;
  font-weight: 400;
  color: $white;
  font-size: 1.2rem;
  padding: .5rem 1.7rem;
  transition: all .2s ease-in;
  text-transform: uppercase;
    @include breakpoint('small') {
    padding: 1.2rem 3.5rem;
    font-size: 1.7rem;
  }
  &.marsula-theme {
    // color: $whi;
    border: 2px solid $black;
    background-color: $black;
  }
  &:hover {
    background-color: $white;
    color: $black;
    cursor: pointer;
  }
}
